// --- Global vars ---


$mobile: 320px;
$tablet: 768px;
$desktop: 960px;

$footer_margin-top:30px;


/*colors    */

// $site_background: #1DBED8;
// $site_background: #11B44C;
$site_background: #000000;
// $site_yellow: #FEE500;
$site_yellow: #11B44C;

// $gray_text_color: #343333;
$gray_text_color: #ababab;


// $background_nice_blue:#add8e6;
$background_nice_color:#FF9900;



/*fonts     */
// $font_family_sans: 'Josefin Sans', sans-serif;
// $font_family_sans_light: 'Josefin Sans', sans-serif;
// $font_family_sans_bold: 'Josefin Sans', sans-serif;

$font_family_sans: 'quicksandbold', sans-serif;
$font_family_sans_light: 'quicksandregular', sans-serif;
$font_family_sans_bold: 'quicksandbold', sans-serif;

// $font_family_sans: 'karmatic_arcaderegular', sans-serif;
// $font_family_sans_light: 'karmatic_arcaderegular', sans-serif;
// $font_family_sans_bold: 'karmatic_arcaderegular', sans-serif;