#headline {

	height:33%;
	max-height: 200px;
	
	img {
		width:70%;
		margin-left:15%;
		margin-right:15%;
		max-height: 200px;

	}

	padding-bottom: 0em;

}

section {
	a {
		text-decoration: none;
		border:none;
		&:hover {
			text-decoration: none;
		}
	}

	.link {
		border-bottom: 1px solid $site_yellow;
		color:$site_yellow;
	}

	.highlight {

		color:#ababab;

		padding:1em;
		margin-top:1em;
		margin-bottom:1em;

		border:1px solid $site_yellow;
		border-radius: 1em;

		&.red {
			border:1px solid red;
		}

	}
}

#intro {
	padding-top:0.5em;
}

#intro, #queueing {

	

	.instructions p {
		margin-top:1em;
		font-size:16px;
		font-family: $font_family_sans_light !important;
	}

	.credits {
		// margin-top:2em;

		h3 {
			text-transform: uppercase;
			color:$gray_text_color;
			font-size: 16px;

			text-decoration: underline;

		}
	}

	p {
		


	}

	#queueButton {

		margin-bottom:0px;
	}

}

#about {

	h3 {
		text-transform: uppercase;
	}

}

