#headline {

	height:33%;
	max-height: 200px;
	
	img {
		width:70%;
		margin-left:15%;
		margin-right:15%;
		max-height: 200px;

	}

	padding-bottom: 0em;

}

section {
	a {
		text-decoration: none;
		border:none;
	}
}

#intro {
	padding-top:0px;
}

#intro, #queueing {

	

	.instructions p {
		margin-top:1em;
		font-size:16px;
	}

	.credits {
		// margin-top:2em;

		h3 {
			text-transform: uppercase;
			color:$gray_text_color;
			font-size: 16px;

			text-decoration: underline;

		}
	}

	p {
		


	}

	#queueButton {

		margin-bottom:0px;
	}

}

#about {

	h3 {
		text-transform: uppercase;
	}

}

